In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Pre processed data

In [3]:
df = pd.read_csv("Datapreprocessed.csv")
Original = df.copy()
#poutcome dropped because most of the fiels are unknown
df.drop("Poutcome", inplace = True , axis=1)
df.head()

,Age,Education,Default,Balance,Housing,Loan,Duration,Campaign,Pdays,Previous,...,Job_umemployed,Job_entrepreneur,Job_housemaid,Married,divorced,Contact_cellular,Contact_telephone,Season_1,Season_2,First half of month
0,59,2,0,2343,1,0,1042,1,-1,0,...,0,0,0,1,0,0,0,0,1,1
1,56,2,0,45,0,0,1467,1,-1,0,...,0,0,0,1,0,0,0,0,1,1
2,41,2,0,1270,1,0,1389,1,-1,0,...,0,0,0,1,0,0,0,0,1,1
3,55,2,0,2476,1,0,579,1,-1,0,...,0,0,0,1,0,0,0,0,1,1
4,54,3,0,184,0,0,673,2,-1,0,...,0,0,0,1,0,0,0,0,1,1

In [4]:
df.columns

Index(['Age', 'Education', 'Default', 'Balance', 'Housing', 'Loan', 'Duration',
       'Campaign', 'Pdays', 'Previous', 'Deposit', 'Job_management',
       'Job_blue-collar', 'Job_technician', 'Job_admin', 'Job_services',
       'Job_retired', 'Job_self-employed', 'Job_student', 'Job_umemployed',
       'Job_entrepreneur', 'Job_housemaid', 'Married', 'divorced',
       'Contact_cellular', 'Contact_telephone', 'Season_1', 'Season_2',
       'First half of month'],
      dtype='object')

In [6]:
#shifting deposit to last position for convenience
columns = ['Age', 'Education', 'Default', 'Balance', 'Housing', 'Loan', 'Duration',
       'Campaign', 'Pdays', 'Previous', 
       'Job_management', 'Job_blue-collar', 'Job_technician', 'Job_admin',
       'Job_services', 'Job_retired', 'Job_self-employed', 'Job_student',
       'Job_umemployed', 'Job_entrepreneur', 'Job_housemaid', 'Married',
       'divorced', 'Contact_cellular', 'Contact_telephone', 'Season_1',
       'Season_2', 'First half of month', 'Deposit']
df = df.reindex(columns=columns)

df.head()

,Age,Education,Default,Balance,Housing,Loan,Duration,Campaign,Pdays,Previous,...,Job_entrepreneur,Job_housemaid,Married,divorced,Contact_cellular,Contact_telephone,Season_1,Season_2,First half of month,Deposit
0,59,2,0,2343,1,0,1042,1,-1,0,...,0,0,1,0,0,0,0,1,1,1
1,56,2,0,45,0,0,1467,1,-1,0,...,0,0,1,0,0,0,0,1,1,1
2,41,2,0,1270,1,0,1389,1,-1,0,...,0,0,1,0,0,0,0,1,1,1
3,55,2,0,2476,1,0,579,1,-1,0,...,0,0,1,0,0,0,0,1,1,1
4,54,3,0,184,0,0,673,2,-1,0,...,0,0,1,0,0,0,0,1,1,1

# Top features out of 29

In [7]:

data  = df[['Education','Housing','Loan','Duration','Campaign', 'Previous','Job_retired','Job_student',
           'Married','Contact_cellular','Season_2','First half of month','Deposit']].copy()

#including all features in the model
X = data.iloc[:,0:12].values
Y = data.iloc[:,12:13].values
Y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [9]:
#logit code from statmodels library

import statsmodels.api as sm


logit = sm.Logit(endog=Y, exog = X)

result = logit.fit()

result.summary()

Optimization terminated successfully.
         Current function value: 0.475617
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                11162
Model:                          Logit   Df Residuals:                    11150
Method:                           MLE   Df Model:                           11
Date:                Wed, 27 May 2020   Pseudo R-squ.:                  0.3125
Time:                        20:20:23   Log-Likelihood:                -5308.8
converged:                       True   LL-Null:                       -7721.6
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.1524      0.026     -5.808      0.000      -0.204      -0.101
x2            -1.1286      0.049    -22.850      0.000      -1.225      -1.032
x3            -0.7813      0.076    -10.250      0.000      -0.931      -0.632
x4             0.0047      0.000     42.663      0.000       0.004       0.005
x5            -0.1458      0.013    -11.401      0.000      -0.171      -0.121
x6             0.1451      0.012     11.622      0.000       0.121       0.170
x7             0.3497      0.095      3.687      0.000       0.164       0.536
x8             0.5912      0.143      4.136      0.000       0.311       0.871
x9            -0.4888      0.047    -10.377      0.000      -0.581      -0.396
x10            0.3983      0.056      7.160      0.000       0.289       0.507
x11           -1.0407      0.051    -20.419      0.000      -1.141      -0.941
x12            0.1966      0.048      4.085      0.000       0.102       0.291
==============================================================================
"""

In [ ]:
#probit code from statmodels
probit = sm.Probit(endog=Y, exog = X)

result = probit.fit()

result.summary()
#result.pred_table(threshold=0.5)

In [10]:
#using sklearn library

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X, Y)

y_pred = classifier.predict(X)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y, y_pred)
cm

C:\Users\Arun-Windows\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Arun-Windows\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[4791, 1082],
       [1221, 4068]], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(Y, classifier.predict(X))

0.7936749686436123

In [12]:
print(classifier.coef_)

[[ 0.26293035 -0.93209428 -0.70040761  0.00512119 -0.10184078  0.15116321
   0.73791428  0.95315369 -0.23055128  0.77997384 -0.8160255   0.35350308]]